#red_army {
    height: 250px;
    border: 10px solid black;
}

body {
  padding: 10px;
  background-image: url('background_one.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a:link {
  color: wheat;
  background-color: black;
}

a:visited {
  color: white;
  background-color: red;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000000;
  padding: 8px;
}

#background {
  padding: 40px;
  background-image: url('background.jpg');
}

/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
*/

